@model BookDisplayModel
@{

}

<div class="my-2">
   <form asp-action="Index" class="row row-cols-lg-auto g-3 align-items-center">
  <div class="col-12">
    <label class="visually-hidden" for="genreId">Жанры</label>
    <select class="form-select" id="genreId" name="genreId">
      <option selected>По жанрам</option>
      @foreach(var genre in Model.Genres)
        {
            <option selected="@(genre.Id == Model.GenreID)" value="@genre.Id">@genre.GenreName</option>    
        }
    </select>
  </div>

    <div class="col-12">
    <label class="visually-hidden" for="sTerm">Поиск по названию</label>
    <div class="input-group">
      <div class="input-group-text"></div>
      <input type="text" class="form-control" value="@Model.STerm" id="sTerm" name="sTerm" placeholder="Поиск по названию">
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Поиск</button>
    <a href="/Home/Index" class="btn btn-dark">Сброс</a>
  </div>
  </form>
</div>

<div class="w-100 mt-4 d-flex flex-wrap">
    @foreach (var book in Model.Books)
    {
        <div class="card mx-3 mb-5" style="width: 16rem;">
            @if(string.IsNullOrEmpty(book.Image))
            {
                <img style="width:100%;height:300px" src="/images/No-Image.png" class="card-img-top" alt="...">
            }
            else
            {
                <img src="/images/@book.Image" class="card-img-top" alt="...">
            }
            <div class="card-body">
                <h5 class="card-title">@book.BookName</h5>
                <p class="card-text">
                Жанр: @book.GenreName
                </p>
                <p>Автор: @book.AuthorName</p>
                <p>Цена: @book.Price руб</p>
            <a href="#" class="btn btn-primary">Добавить в корзину</a>
            </div>
        </div>
    }
</div>