@model IEnumerable<Order>
@{
}
<div style="width:100%" class="mt-2">
    <a href="/Identity/Account/Manage" class="btn btn-primary btn-dark my-2">Назад</a>
    <h4>Мои заказы</h4>
    @if (Model != null && Model.Count() > 0)
    {
        <table class="table table-striped">
            <tr>
                <th>Дата закказа</th>
                <th>Статус заказа</th>
            </tr>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.DateCreated.ToString("dd-MM-yyyy")</td>
                    <td>@order.OrderStatus.StatusName</td>
                </tr>
                @if (order.OrderDetailList != null && order.OrderDetailList.Count > 0)
                {
                    <tr>
                        <td>
                            <table class="table table-striped">
                                <tr>
                                    <td>
                                        Итого:
                                    </td>
                                    <td>
                                        @(order.OrderDetailList.Select(item => item.Book.Price * item.Quantity).Sum())
                                    </td>
                                </tr>
                                <tr>
                                    <th>Книга</th>
                                    <th>Обложка</th>
                                    <th>Жанр</th>
                                    <th>Цена(руб)</th>
                                    <th>Итоговая цена</th>
                                </tr>
                                @foreach (var item in order.OrderDetailList)
                                {
                                    <tr>
                                        <td>@item.Book.BookName</td>
                                        <td>
                                            @if (string.IsNullOrEmpty(item.Book.Image))
                                            {
                                                <img src="/images/NoImage.png" style="width:80px;height:100px" />
                                            }
                                            else
                                            {
                                                <img src="/images/@item.Book.Image" style="width:80px;height:100px" />
                                            }
                                        </td>
                                        <td>@item.Book.Genre.GenreName</td>
                                        <td>@item.Book.Price X @item.Quantity</td>
                                        <td> @(item.Book.Price * item.Quantity) </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                }
            }
        </table>
    }
    else
    {
        <h5>Заказов нет</h5>
    }
</div>

